-- Список категорий
<div class="row-fluid" style="padding-bottom: 20px;">
    <div class="sblock1 jshop_categ category">
        <div class="sblock2 image">
            {{:img2^{{src}},{{iw}},{{ih}},{{alt}},{{cfg}},{{deco}}}}
        </div>
        <div class="sblock2">
            <div class="category_name">
                {{link}}
            </div>
        </div>
    </div>
</div>

<!-- <div style="display: inline-table;"><p style="text-align: center;"></p></div> -->
