<div>
<p>Welcome on <b>confirm</b> page!</p>
<form action="{{post_uri}}" method="POST">
<p><input type="text" name="fake" autofocus placeholder="fake page" /></p>
<input type="submit" name="doFake" value="FAKE" />
</form>
</div>