<div style="text-align: center;">
<h2 style="margin-bottom: 30px;">Обратная связь</h2>
<form action="{{post}}" method="POST">
<p><input type="text" name="name" autofocus placeholder="Имя*"/></p>
<p><input type="text" name="email" placeholder="Ваш адрес электронной почты*"/></p>
<p><textarea name="message" placeholder="Текст сообщения*"></textarea></p>
<input type="submit" name="doAsk" value="&nbsp;&nbsp;&nbsp;Оставить сообщение&nbsp;&nbsp;&nbsp;" style="background-color: #481907; color: #FFF"/>
</form>
</div>
