<div class="dash" style="white-space:nowrap">
<a href="{{link_user}}" target="_blank">
<img width="32" height="32" src="{{img_user}}" alt="Список" title="Список" />
</a>
<a href="{{link_farms}}" target="_blank">
<img width="32" height="32" src="{{img_farms}}" alt="Фермы" title="Фермы"/>
</a>
<a href="{{link_add}}" target="_blank">
<img width="32" height="32" src="{{img_add}}" alt="Добавить животное" title="Добавить животное" />
</a>
<a href="{{link_list}}" target="_blank">
<img width="32" height="32" src="{{img_list}}" alt="Список" title="Список" />
</a>
</div>
