<div class="row-fluid" style="width: 100%;">
	<div class="jshop" id="comjshop">
		<h1>Животные без привязки к ферме</h1>
	</div>
</div>
<div style="width:100%; overflow:hidden;">
   <div class="scroll">
      <p>{{goats_list}}</p>
   </div>
</div>
