<div class="row-fluid" style="width: 100%; padding-bottom: 50px;">
	<div class="jshop" id="comjshop">
		<h1>{{farm_name}}</h1>
        <div class="manufacturer_description">
	        <table style="width: 100%;">
		        <tbody>
	    	        <tr>
	                <td style="width: 595px;"><img style="float: left;" src="/stuff/upload/farm/{{pic2}}" alt="" width="593" height="445" /></td>
					<td style="width: auto;">
						{{farm_info}}
		            </td>
	      	        </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
</div>
<h1 style="text-align: left;">Список животных:</h1>
<div style="width:100%; overflow:hidden;">
   <div class="scroll">
      <p>{{goats_list}}</p>
   </div>
</div>
