<form action="{{post_uri}}" method="POST">
<p><input style="width: 250px;" type="text" name="email" placeholder="Ваш email" /></p>
<p><input style="width: 250px;" type="text" name="topic" placeholder="Тема" /></p>
<p><textarea style="width: 250px;" rows="7" name="message" placeholder="Ваше сообщение..." /></textarea></p>
<input type="submit" name="doFeedback" value="Отправить сообщение" />
</form>
