<style>
h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
    font-family: 'Open Sans', sans-serif;
}

body.site {
    border-top: 3px solid #0088cc;
    background-color: #f4f6f7;
}

a {
    color: #0088cc;
}

.nav-list>.active>a,
.nav-list>.active>a:hover,
.dropdown-menu li>a:hover,
.dropdown-menu .active>a,
.dropdown-menu .active>a:hover,
.nav-pills>.active>a,
.nav-pills>.active>a:hover,
.btn-primary {
    background: #0088cc;
}
</style>
<div class="row-fluid"  style="width: 100%;">
    <main id="content" role="main" class="span12">
        <!-- Begin Content -->
        <div id="system-message-container">
        </div>
        <div class="jshop" id="comjshop">
            <h1 style="text-align: center;">ПЛЕМРЕЕСТРЫ ({{sex_name0}})</h1>
            <div class="category_description">
            </div>
            <div class="jshop_list_category" style="width: 100%;">
                <div class="jshop list_category">
                    <div class="row-fluid b1">
                        <div class="sblock1 jshop_categ category">
                            <div class="sblock2">
                                <p class="category_short_description">
                                </p>
                            </div>
                            <br>
                            <a href="{{link_tg}}">
                                <div class="sblock2 image ik34">
                                    <img class="jshop_img hik34" src="{{img_goat}}" alt="Главный реестр" title="Главный реестр" />
                                </div>
                            </a>
                            <div class="category_name">
                                <a class="product_link k34" href="{{link_tg}}">
                                Главный реестр<br />RHB</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row-fluid b2">
                        <div class="sblock1 jshop_categ category">
                            <div class="sblock2">
                                <p class="category_short_description">
                                </p>
                            </div>
                            <br>
                            <a href="{{link_gen}}">
                                <div class="sblock2 image ik35">
                                    <img class="jshop_img hik35" src="{{img_goat}}" alt="Реестр поглотительного скрещивания" title="Реестр поглотительного скрещивания" />
                                </div>
                            </a>
                            <div class="category_name">
                                <a class="product_link k35" href="{{link_gen}}">Реестр поглотительного скрещивания<br />RCB</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row-fluid b3">
                        <div class="sblock1 jshop_categ category">
                            <div class="sblock2">
                                <p class="category_short_description">
                                </p>
                            </div>
                            <br>
                            <a href="{{link_ft}}">
                                <div class="sblock2 image ik36">
                                    <img class="jshop_img hik36" src="{{img_goat}}" alt="Реестр по фенотипу" title="Реестр по фенотипу" />
                                </div>
                            </a>
                            <div class="category_name">
                                <a class="product_link k36" href="{{link_ft}}">Реестр по фенотипу<br />RFB</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row-fluid b4">
                        <div class="sblock1 jshop_categ category">
                            <div class="sblock2">
                                <p class="category_short_description">
                                </p>
                            </div>
                            <br>
                            <a href="{{link_exp}}">
                                <div class="sblock2 image ik37">
                                    <img class="jshop_img hik37" src="{{img_goat}}" alt="Реестр экспериментальных животных" title="Реестр экспериментальных животных" />
                                </div>
                            </a>
                            <div class="category_name">
                                <a class="product_link k37" href="{{link_exp}}">
                                Реестр экспериментальных животных<br />RExB</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- End Content -->
    </main>
    </div>
</div>
</div>
