<div style="text-align: center;">
{{={{msg_err}}%%<span style="color: red;">{{msg_err}}</span>}}
<h2 style="margin-bottom: 30px;">Вход в реестр</h2>
<form action="{{post}}" method="POST">
<p>Логин:</p>
<p><input type="text" name="login" value="{{login}}"{{login_foc}}/></p>
<p>Пароль:</p>
<p><input type="password" name="pass" value="{{pass}}"{{pass_foc}}/></p>
<input type="submit" name="doLogin" value="&nbsp;&nbsp;&nbsp;Войти&nbsp;&nbsp;&nbsp;" style="background-color: #481907; color: #FFF"/>
</form>
</div>
