<div class="hdr1">
<ul style="display: block; float: left; overflow: hidden; margin-left: 20px;">
	<li style="margin-top: 50px;"><img width="160" height="60" src="/img/colon/left1.jpg" alt=""></li>
	<li style="margin-top: 50px;"><img width="160" height="60" src="/img/colon/left2.jpg" alt=""></li>
	<li style="margin-top: 50px;"><img width="160" height="60" src="/img/colon/left3.jpg" alt=""></li>
</ul><ul style="display: block; float: right; overflow: hidden; margin-right: 20px;">
	<li style="margin-top: 50px;"><img width="160" height="60" src="/img/colon/right1.jpg" alt=""></li>
	<li style="margin-top: 50px;"><img width="160" height="60" src="/img/colon/right2.jpg" alt=""></li>
	<li style="margin-top: 50px;"><img width="160" height="60" src="/img/colon/right3.jpg" alt=""></li>
</ul>
<div class="hdr2"><span style="color:#5B3106; margin-bottom: 30px; font-size: 18px; text-align: justify;"><p style="color: red; font-weight: bold; text-align: center">Одна из важнейших задач козоводства в Украине  - ведение племенного и зоотехнического учета.</p>
<p style="margin-top: 30px;">Племенной учёт имеет особое значение для успешного ведения племенной работы, в частности, при оценке, подборе и отборе животных.</p>
<p>Отбор по комплексу признаков и всю племенную работу можно вести лишь при наличии  в племенном и пользовательском козоводстве  точных регистрационных данных, наиболее полно характеризующих племенных  и пользовательских животных.</p>
<p>Записи племенного учета должны обеспечить регистрацию большого количества показателей, позволяющих с большой точностью определиться с направлением по племенной работе в отрасли, соотнести полученные результаты, которые обеспечат правильную корректировку выбранного направления в селекционно-племенной деятельности.</p>
<p>При отсутствии системы идентификации и мониторинга животных, отсутствует возможность лучшего понимания возникающих проблем и задач по повышению продуктивности животных, здоровья стада и ветеринарного обеспечения, оптимизации кормления и, главное, как это связано с вложенными инвестициями. Ведь никто не станет спорить, что экономическая эффективность – один из ключевых модулей.</p>
<p>Использование племенного реестра животных, как базы данных - это ключ к раскрытию потенциала стада, правильная оценка эффективности козоводческого бизнеса и увеличения его ценности. Ассоциация Племенных Коз готова предоставить козоводам такую возможность посредством Племенного Реестра, который был разработан нашими силами.</p>
<p>Без надежного и полноценно функционирующего племенного реестра, фермеры могут оказаться не подготовленными к решению многих проблем. Только анализ информации, сопровождающий каждое животное, обеспечит фермеру правильный менеджмент его фермы и позволит выбрать правильную маркетинговую стратегию в своём хозяйстве. А когда это будет иметь место в рамках целой страны, то козоводство как отрасль в Украине, однозначно повысит свой качественный уровень.</p>
<p>Мы все просто обязаны помнить, что наше индивидуальное козоводство станет успешным только при условии успешного и качественного козоводства как отрасли в Украине. Справедливо  и обратное: козоводство, как отрасль в Украине станет успешной только при условии успешного и качественного индивидуального козоводства.</p>
<p>Мы функционируем в рамках законодательной базы Украины. Но одной лишь законодательной базы недостаточно. Только объединив наши усилия, мы поможем полноценно функционировать уже существующей законодательной базе по племенному делу, по ветеринарной медицине, по идентификации животных, которая, в свою очередь, поможет успешно и продуктивно функционировать нам и нашим козьим фермам.</p>
<p>Козоводам как можно скорее следует понять одну простую вещь: <b>Только в команде и командой можно достичь ощутимых результатов.</b></p>
<p>Когда-то один из козоводов сказал:</p>
<b><p>«Мы все очень-очень разные:  и внешне, и внутренне. Но есть точка соприкосновения - козы, наши любимицы.</p>
<p>Когда собирается команда, то игра будет успешна только тогда, когда ВСЁ, кроме ОБЩЕЗНАЧИМОГО, уйдет на второй план.</p>
<p>Если Петров в игре не даст шанса забить мяч Сидорову, потому что тот в раздевалке наступил ему на ногу - проиграла команда. Общая точка - мяч-игра-победа.</p>
<p>Наши мячи - наши козы, и если мы пытаемся играть командой чьим-то мячом и достигаем успеха - это здОрово.</p>
<p>Все уже давно забыли, чей мяч был на поле, идет тренировка на сыгранность команды. Иногда очень важно услышать мнение со стороны, именно услышать, и сопоставить со своим.</p>
<p>Это не значит, что кто-то не прав, каждое мнение имеет право быть. Услышал, сопоставил, проанализировал и или лишний раз убедился, что идешь правильно, или ищешь другой путь.»</p></b></span></div></div>{{menu}}
