<div style="text-align: center; border: 1px solid #5C3022; padding: 5px; border-radius: 4px; background-color: #472d19; color: #FEFEF4; font-weight: bold;">На Ваш адрес электронной почты был выслан код активации.<br />Если Вы не получили письмо, проверьте также папку СПАМ<div>


